.chooseUsMain {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.chooseUsTextIntro {
  color: #0060f1;
  font-size: 17.844px;
  font-weight: 700;
}

.chooseUsTextIntroHeading {
  color: var(--color-5, #323232);
  font-size: 54.649px;
  font-weight: 600;
}

.chooseUsCard {
  position: relative;
  border-radius: 6.692px;
  background: #fff;
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  width: 325.849px;
  height: 247.592px;
  background-color: white;
}

.backgroundImageShow {
  background-image: url("data:image/svg+xml,%3Csvg width='342' height='299' viewBox='0 0 342 299' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.369141' y='17.5835' width='327.616' height='281.919' rx='6.69167' transform='rotate(-3 0.369141 17.5835)' fill='%23EDF0F6'/%3E%3C/svg%3E%0A");
}

.chooseUsCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6.692px;
  transform: rotate(-3deg);
}

.chooseUsCardHeadingText {
  color: #333;
  font-size: 26.767px;
  font-weight: 700;
}

.chooseUsCardNormalText {
  color: #07225a;
  font-size: 17.844px;
  font-weight: 400;
}

.services_bgCard {
  height: 267px;
  width: 400px;
  background-color: #edf0f6;
  transform: rotate(-3deg);
  border-radius: 7px;
}

.services_card {
  width: 375px;
  height: 247px;
  position: absolute;
  top: 0;
  background: #fff;
  left: -10px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px #edf0f6;
}

.card_topImage {
  position: absolute;
  top: -40px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_content {
  position: absolute;
  top: 80px;
  left: 40px;
}

.card_content_desc {
  color: #07225a;
  font-size: 17.844px;
  font-weight: 400;
  line-height: 35.689px;
  letter-spacing: -0.558px;
  margin-top: 20px;
}

.card_content_title {
  color: #333;
  font-size: 26.767px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .services_bgCard {
    height: 267px;
    width: 400px;
  }

  .services_card {
    width: 375px;
    height: 247px;
  }
}

@media (max-width: 767px) {
  .services_bgCard {
    height: 267px;
    width: 350px;
  }

  .services_card {
    width: 335px;
    height: 247px;
    left: "-25px";
  }
}
