.loginPageImage {
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='1892' viewBox='0 0 1440 1892' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1442.09 0H4864L3421.91 1892H0L1442.09 0Z' fill='%23043BA0'/%3E%3C/svg%3E%0A");
}

.cardForLogin {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressBar {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.card {
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  padding: 40px 20px;
  z-index: 1;
}

.react-tel-input .form-control {
  width: 100% !important;
  padding: 10px 58px !important;
  border-radius: 12px !important;
  /* background-color: #eee !important; */
}

/* .css-13cymwt-control:focus {
  outline: 0;
  border: none !important;
  background-color: white !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  border-color: black !important;
}

.css-1f43avz-a11yText-A11yText:focus {
  outline: 0 !important;
  background-color: white !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  border-color: black !important;
}

.css-b62m3t-container:focus {
  outline: 0 !important;
  background-color: white !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  border-color: black !important;
} */

.react-tel-input .form-control:focus {
  background-color: white !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  border-color: black !important;
}

.react-tel-input .country-list .search-box {
  width: 90% !important;
  border-radius: 8px !important;
  padding: 5px !important;
}

.form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
}
.sendingInputField {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #e4ecf1;
  background-color: #eee;
  outline: none;
}

.inputselectSaved {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #eee;
}

.transsectionLabel {
  color: #101828;
  font-size: 14px;
  font-weight: 600;
}

.headTextOfSendingInfo {
  color: var(--gray-900, #101828);
  font-size: 21px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .card {
    width: 90%;
    margin-top: 10px;
  }
}
