.loginPageImage {
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='1892' viewBox='0 0 1440 1892' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1442.09 0H4864L3421.91 1892H0L1442.09 0Z' fill='%23043BA0'/%3E%3C/svg%3E%0A");
}

.cardForLogin {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  padding: 40px 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
}
.sendingInputField {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #e4ecf1;
  background-color: #eee;
}

.inputselectSaved {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #eee;
}

.transsectionLabel {
  color: #101828;
  font-size: 14px;
  font-weight: 600;
}

.headTextOfSendingInfo {
  color: var(--gray-900, #101828);
  font-size: 21px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .card {
    width: 90%;
    margin-top: 10px;
  }
}
