.howTranferHeadingText {
  color: #043ba0;
  font-weight: 500;
}
.howTransferCountDown {
  color: #111827;
}
.howTransferNormalText {
  color: #6b7280;
  font-weight: 400;
}

.howTransferSubText {
  color: #111827;
  font-weight: 500;
}
